
<button (click)="onClick()">Display Details!</button>
<p *ngIf="showOrHide">
  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nulla, harum earum at dolores veniam vitae inventore ullam
  quibusdam quo impedit. Aliquam porro numquam quidem itaque vero repellendus eos dolor quam!
</p>

<p 
  *ngFor="let x of log , let i = index"
  [ngStyle] = "{'background-color' : (i + 1) > 4 ? 'green' : 'transparent' , 'font-size' : '2em'}" 

  [ngClass] = "(i + 1) > 4 ? 'special' : ''"
  
  >
  {{i + 1}}. Hello World
</p>
